@font-face {
	font-family: "SFProDisplay-Regular";
	src: local("SFProDisplay-Regular"),
		url(../fonts/SFProDisplay-Regular.woff) format("woff")
		url(../fonts/SFProDisplay-Regular.woff2) format("woff2");
	font-weight: normal;
}
@font-face {
	font-family: "SFProDisplay-Semibold";
	src: local("SFProDisplay-Semibold"),
		url(../fonts/SFProDisplay-Semibold.woff) format("woff")
		url(../fonts/SFProDisplay-Semibold.woff2) format("woff2");
	font-weight: bold;
}
* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: #E5E5E5;
}
.header {
  background: #fa8c16;
  padding: 16px 0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}
.header-wrapper {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  margin-left: 60px;
  margin-right: auto;
}
.header-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-menu-link {
  width: 237px;
  height: 32px;
  text-decoration: none;
  color: #fafafa;
  margin-right: 15px;
  font-size: 14px;
  line-height: 22px;
}
.input-group {
  position: relative;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  overflow: hidden;
}
.search-input {
  border: none;
  width: 80%;
  height: 100%;
  font-size: 14px;
  line-height: 22px;
  padding: 5px 0 5px 12px;
}
.search-button {
  height: 100%;
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search-input::-moz-placeholder {
  color: #bfbfbf;
}
.search-input::-webkit-input-placeholder {
  color: #bfbfbf;
}
.search-input:-ms-input-placeholder {
  color: #bfbfbf;
}
.search-input::-ms-input-placeholder {
  color: #bfbfbf;
}
.search-input::placeholder {
  color: #bfbfbf;
}
.section {
	max-width: 1200px;
	width: 90%;
	margin: auto;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;	
}
.posts {
	width: 67%;	
}
.post {
	background: #ffffff;
}
.post-body {
	padding: 35px 47px 0 25px;
}
.post-title {
	margin: 0;
	margin-bottom: 19px;
	font-size: 16px;
	line-height: 24px;
	color: #262626;
}
.text {
	font-size: 14px;
	line-height: 22px;
	color: #262626;
}
.post {
	margin-bottom: 10px;
}
.tages {	
	margin-bottom: 22px;
}
.tag {
	text-decoration: none;
	color: #BFBFBF;
	font-size: 14px;
	line-height: 22px;
	margin-right: 10px;
}
.post-footer {
	background: #FAFAFA;
	border-top: 1px solid #E8E8E8;
	display: flex;
	justify-content: space-between;
	padding: 13px 35px;
}
.post-buttons {
	display: flex;
	align-items: center;
}
.post-button .icon {
	fill:#8C8C8C;
}
.likes-counter,
.comments-counter{
	margin-left: 6px;
}
.post-button {
	background-color: transparent;
	border: none;
	color: #8C8C8C;
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 22px;
	margin-right: 19px;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
}
.author {
	display: flex;
	align-items: center;
	text-align: right;
}
.user-name {
	display: block;
		color: #8C8C8C;
		font-size: 12px;
		line-height: 20px;
		text-decoration: none;
}
.author-avatar {
	width: 34px;
	height: 34px;
	margin-left: 9px;
	border-radius: 4px;
}
.post-time {
	color: #BFBFBF;
	font-size: 12px;
	line-height: 20px;
}
.sidebar {
	width: 31%;
	
	padding: 0;
}
.user {
	padding: 15px 25px;
	display: flex;
	justify-content: space-between;
	border: 1px solid #E8E8E8;
	background-color: #FAFAFA;
	align-items: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.user-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.user-name {
	font-size: 16px;
	line-height: 24px;
	color: #595959;
}
.icon-exit {
	fill: 
}
.avatar {
	border-radius: 50%;
	margin-right: 17px;
}
.sidebar-nav {
	background-color: #fff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-top: 4px;
}
.sidebar-menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: 1px solid #E8E8E8;
	border-top: none;
}
.sidebar-menu-item {

}
.sidebar-menu-link {
	text-decoration: none;
	font-size: 14px;
	line-height: 22px;
	color: #595959;
	display: inline-block;
	width: 100%;
	padding: 16px 48px;
}
.sidebar-menu-link:hover {
	background-color: #FFFBE6;
	color: #FAAD14;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sidebar-menu-link.active {
	background-color: #FFFBE6;
	border-right: 3px solid #FAAD14;
	color: #FAAD14;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button {
	background-color: #FAAD14;
	color: #FFFFFF;
	text-decoration: none;
	border-radius: 4px;
	font-size: 16px;
	line-height: 24px;
	padding: 13px;
}
.button-new-post {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 20px;	
}
.icon-fire {
	height: 13px;
	width: 11px;
	margin-right: 10px;
	fill: #fff;
}
.card {
	background: #FFFFFF;
	border: 1px solid #E8E8E8;
	margin-top: 20px;
}
.card-header {	
	background: #FAFAFA;
	border-bottom: 1px solid #E8E8E8;
	padding: 23px 25px;
}
.card-title {
	font-size: 16px;
	line-height: 24px;
	color: #595959;
	margin: 0;
}
.card-body {
	padding: 22px 40px 20px 25px;
}
.card-body-title {
	font-size: 16px;
	line-height: 24px;
	color: #D48806;
	text-decoration: none;
	margin: 0 0 10px;
}
.card-text {
	font-size: 14px;
	line-height: 22px;
	color: #262626;	
	margin: 10px 0;
}
.promo {
	border-bottom: 1px solid #E8E8E8;
	margin-top: 20px;
	width: 100%;
	height: 260px;
	background-color: #fff;
	background-image: url("../img/werbung.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	border: 1px solid #E8E8E8;
}
.promo::before {
	content: "Реклама";
	position: absolute;
	top: 0;
	right: 0;
	background: #C4C4C4;
	font-size: 12px;
	line-height: 20px;
	color: #ffffff;
	padding: 0 26px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-menu-link:hover {
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);	
}
.tag:hover {
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}