* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: #E5E5E5;
}
.header {
  background: #fa8c16;
  padding: 16px 0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}
.header-wrapper {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  margin-left: 60px;
  margin-right: auto;
}
.header-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-menu-link {
  width: 237px;
  height: 32px;
  text-decoration: none;
  color: #fafafa;
  margin-right: 15px;
  font-size: 14px;
  line-height: 22px;
}
.input-group {
  position: relative;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  overflow: hidden;
}
.search-input {
  border: none;
  width: 80%;
  height: 100%;
  font-size: 14px;
  line-height: 22px;
  padding: 5px 0 5px 12px;
}
.search-button {
  height: 100%;
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search-input::-moz-placeholder {
  color: #bfbfbf;
}
.search-input::-webkit-input-placeholder {
  color: #bfbfbf;
}
i.search-input:-ms-input-placeholder {
  color: #bfbfbf;
}
.search-input::-ms-input-placeholder {
  color: #bfbfbf;
}
.search-input::placeholder {
  color: #bfbfbf;
}
.section {
	max-width: 1200px;
	margin: auto;	
}
.posts {
	max-width: 800px;
	
	margin-bottom: 30px;
}
.post {
	background: #ffffff;
}
.post-body {
	padding: 35px 47px 0 25px;
}
.post-title {
	margin: 0;
	margin-bottom: 19px;
	font-size: 16px;
	line-height: 24px;
	color: #262626;
}
.text {
	font-size: 14px;
	line-height: 22px;
	color: #262626;
}
.post {
	margin-bottom: 10px;
}
.tages {	
	margin-bottom: 22px;
}
.tag {
	text-decoration: none;
	color: #BFBFBF;
	font-size: 14px;
	line-height: 22px;
	margin-right: 10px;
}
.post-footer {
	background: #FAFAFA;
	border-top: 1px solid #E8E8E8;
	display: flex;
	justify-content: space-between;
	padding: 13px 35px;
}
.post-buttons {
	display: flex;
	align-items: center;
}
.post-button .icon {
	fill:#8C8C8C;
}
.likes-counter,
.comments-counter{
	margin-left: 6px;
}
.post-button {
	background-color: transparent;
	border: none;
	color: #8C8C8C;
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 22px;
	margin-right: 19px;
}
.author {
	display: flex;
	align-items: center;
	text-align: right;
}
.user-name {
	display: block;
		color: #8C8C8C;
		font-size: 12px;
		line-height: 20px;
		text-decoration: none;
}
.author-avatar {
	width: 34px;
	height: 34px;
	margin-left: 9px;
	border-radius: 4px;
}
.post-time {
	color: #BFBFBF;
	font-size: 12px;
	line-height: 20px;
}